body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;

  }
  .header {
    overflow: hidden;
    height: 110px;   
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
   } 

   .nav_atas{
    overflow: hidden;
    height: 65px;
    width: 100%;  
    background-color: black;
   
  }
  .icon{
    width: 20px;
    height: 20px;
    background-color: white;
  }
  h6{
    margin-bottom: 30px;
  }
  h2{
    color: white;
    display: block;
  }
  .Gander{
    font-size: 18px;
    width: 180px;
    height: 55px;
    padding: 7PX 18px;
    
  }
  .navlinkGender{
    display: flex;
    flex-direction: row;
  }
  .geser{
    margin-left: 20px;
  }
  .geser-kanan{
    margin-right: 82px;
  }
  .geser-kebawah{
    margin-bottom: 6px;
  }
  .geser-kebawah2{
    margin-bottom : 16px;
  }
  
    .input-field-search{
      background-color: white;
      height: 20px;
      width: 470px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      
  
    }
    .btn-search{
      background-color:white;
      width: 20px;
      height: 20px;
      border: none;
    }
    #btn_search{
      color: black;
      height: 20px;
      background: none;
      border: none;
    }
    #search{
      padding: 8px;
      height: 18px;
      width: 100%;
      display:block;
      border:none;
      
    }
  .Menu_login{
    width: 100px;
    height: 1000px;
  }
  .navlinkLogin{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 12px;
  }
  .centernav{
  margin: auto;
  width: 78%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  }

  .centernav-column{
    margin: auto;
  width: 78%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  }
  .Column{
    display: flex;
    flex-direction: column;
  }


  
  .nav_bawah{
    
    height: 43px;
    width: 100%;
    background-color: #e2e2e2;
    
   
  }
  .background_Abu-abu{
    background-color: #6c6c6c;
  }
  #Black{
    color: black;
    font-size: 12px;
  }
  #Red{
    color: red;
  }
  #Abu-Abu{
    color: #7f7f7f;
    font-size: 14px;
  }
  #White{
    color: white;
  }
  #White_akun{
    color: white;
    font-size: 12px;
  }
  #White_med{
    color: white;
    font-size: 14px;
  }
  

  .Catalog{
    margin: auto;
    width: 78%;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 10px;
    font-size: 12px;
  }
  .navlink{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 12px;
  
  }

  .Position_right{
   margin-left: 60px;
  }
  ul{
    list-style-type: none;
    padding: 0;
  }
  .icon-akun{
    margin-left: 20px;
    width: 40px;
    height: 40px;
  }
  .icon-Love{
    width: 40px;
    height: 40px;
  }
  

  .dropdown_akun {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown_akun:hover .dropdown-content {
  display: block;
}

.dropdown_akun:hover .icon-akun {
  background-color: #3e8e41;
}
.InfoAkun{
  width: 200px;
  height: 45px;
  text-align: center;
}
.isi_dropdown_akun{
  height: 500px;
  width: 200px;
}
.baris{
  display: flex;
  flex-direction: row;
}