.bodypage{
    width: 78%;
    margin: auto;
    height: auto;   
    display: flex;
    flex-direction: column;
}

.body_isi{
    display: flex;
    flex-direction: row;
}
.Body_Tamplate_akun{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding : 20px;
    width: 270px;
}

.Body_wishlist{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.Wishlist_header{
    margin-left: 10px;
    padding: 20px;
    background-color: #dadada;
    width: 100%;
    height: 60px;
}
