body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;

  }
  .header {
    overflow: hidden;
    height: 110px;   
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
   } 

   .nav_atas{
    overflow: hidden;
    height: 65px;
    width: 100%;  
    background-color: black;
   
  }
  .icon{
    width: 20px;
    height: 20px;
    background-color: white;
  }
  h6{
    margin-bottom: 30px;
  }
  h2{
    color: white;
    display: block;
  }
  .Gander{
    font-size: 18px;
    width: 180px;
    height: 55px;
    padding: 7PX 18px;
    
  }
  .navlinkGender{
    display: flex;
    flex-direction: row;
  }
  .geser{
    margin-left: 20px;
  }
  .geser-kanan{
    margin-right: 82px;
  }
  .geser-kebawah{
    margin-bottom: 6px;
  }
  .geser-kebawah2{
    margin-bottom : 16px;
  }
  #White{
    color: white;
  }
  
    .input-field-search{
      background-color: white;
      height: 20px;
      width: 470px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      
  
    }
    .btn-search{
      background-color:white;
      width: 20px;
      height: 20px;
    }
    #btn_search{
      height: 20px;
      background: none;
    }
    #search{
      padding: 8px;
      height: 18px;
      width: 100%;
      display:block;
      border:none;
      
    }
  
  .navlinkLogin{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 12px;
  }
  .centernav{
  margin: auto;
  width: 78%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  }


  
  .nav_bawah{
    overflow: hidden;
    height: 43px;
    width: 100%;
    background-color: #e2e2e2;
   
  }
  .background_Abu-abu{
    background-color: #6c6c6c;
  }
  #Black{
    color: black;
    font-size: 12px;
  }
  #Red{
    color: red;
  }
  #Abu-Abu{
    color: #7f7f7f;
    font-size: 14px;
  }

  .Catalog{
    margin: auto;
    width: 78%;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 10px;
    font-size: 12px;
  }
  .navlink{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 12px;
  
  }

  .Position_right{
   margin-left: 60px;
  }
  ul{
    list-style-type: none;
    padding: 0;
  }

.bodypage{
  padding-top: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.column{
  display: flex;
  flex-direction: column;
}
.baris{
  display: flex;
  flex-direction: row;
}